<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center">{{
            isEditing ? "Editar tarea" : "Nueva tarea"
        }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form id="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <ion-input
            formControlName="name"
            label="Nombre de la tarea"
            labelPlacement="floating"
            fill="outline"
            errorText="El nombre es obligatorio"
            class="ion-margin-bottom"
            mode="md"
        />

        <ion-textarea
            formControlName="description"
            label="Descripción de la tarea"
            labelPlacement="floating"
            fill="outline"
            rows="6"
            errorText="La descripción es obligatoria"
            class="ion-margin-bottom"
            mode="md"
        />

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
                <ion-col size="10">
                    <ion-select
                        formControlName="categoryId"
                        label="Categoría"
                        labelPlacement="floating"
                        fill="outline"
                        interface="popover"
                        mode="md"
                    >
                        <ion-select-option value="">Sin categoría</ion-select-option>

                        @for (category of categories; track category.id) {
                            <ion-select-option [value]="category.id">
                                {{ category.name }}
                            </ion-select-option>
                        }
                    </ion-select>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                    <ion-button
                        fill="clear"
                        shape="round"
                        size="large"
                        (click)="openCategoryModal()"
                        mode="md"
                    >
                        <ion-icon slot="icon-only" name="add" />
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        @if (isEditing) {
            <ion-grid style="margin-top: 40px">
                <ion-row>
                    <ion-col size="2">
                        <ion-button
                            type="button"
                            expand="block"
                            fill="clear"
                            color="danger"
                            (click)="onDeleteClicked()"
                        >
                            <ion-icon name="trash" slot="icon-only" />
                        </ion-button>
                    </ion-col>
                    <ion-col size="10"
                        ><ion-button
                            type="submit"
                            form="taskForm"
                            expand="block"
                            [disabled]="taskForm.invalid"
                            >Actualizar tarea</ion-button
                        ></ion-col
                    >
                </ion-row>
            </ion-grid>
        } @else {
            <ion-button
                style="margin-top: 40px"
                type="submit"
                form="taskForm"
                expand="block"
                [disabled]="taskForm.invalid"
                >Crear tarea</ion-button
            >
        }
    </form>
</ion-content>
