<ion-header>
    <ion-toolbar>
        <ion-title>Mis Tareas</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="presentCategoryFilter($event)">
                <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
    @if (selectedCategoryId) {
        <ion-item color="light" lines="full" class="ion-margin-vertical ion-padding-horizontal">
            <ion-label class="ion-text-wrap">
                <small
                    >Filtro seleccionado:
                    <strong>{{ getCategoryName(selectedCategoryId) }}</strong></small
                >
            </ion-label>
            <ion-button fill="clear" size="small" color="medium" (click)="clearFilter()">
                Borrar filtro
            </ion-button>
        </ion-item>
    }
    @if (filteredTasks.length > 0 && tasks.length > 0) {
        <cdk-virtual-scroll-viewport
            itemSize="49"
            style="height: 100%; width: 100%; display: block"
        >
            <ion-list class="ion-padding-bottom">
                <ion-reorder-group
                    [disabled]="!!selectedCategoryId"
                    (ionItemReorder)="onReorder($event)"
                >
                    <ion-item
                        *cdkVirtualFor="let task of filteredTasks"
                        button
                        (click)="openModal(task)"
                    >
                        <ion-checkbox
                            slot="start"
                            [checked]="task.completed"
                            (click)="$event.stopPropagation()"
                            (ionChange)="onToggleComplete(task, $event)"
                        />
                        <ion-label> {{ task.name }} </ion-label>
                        <ion-reorder slot="end" />
                    </ion-item>
                </ion-reorder-group>
            </ion-list>
        </cdk-virtual-scroll-viewport>
    } @else if (filteredTasks.length === 0 && tasks.length > 0) {
        <app-data-state
            icon="alert-circle-outline"
            title="No hay tareas con este filtro, elimine el filtro o cree una tarea para este filtro"
        />
    } @else {
        <app-data-state
            icon="alert-circle-outline"
            title="Aún no hay tareas creadas, crea la primera"
        />
    }

    <ion-fab id="task-fab" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="openModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
