<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Tareas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
    @if (tasks.length > 0) {
        <cdk-virtual-scroll-viewport
            itemSize="49"
            style="height: 100%; width: 100%; display: block"
        >
            <ion-list class="ion-padding-bottom">
                <ion-item-sliding *cdkVirtualFor="let task of tasks">
                    <ion-item button>
                        <ion-checkbox slot="start" [aria-label]="task.completed"></ion-checkbox>
                        <ion-label> {{ task.name }} </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="onDeleteTask(task.id)" color="danger" expandable>
                            <ion-icon name="trash"></ion-icon>
                            <span slot="bottom">Eliminar</span>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </cdk-virtual-scroll-viewport>
    } @else {
        <app-data-state icon="alert-circle-outline" title="Aún no hay tareas creadas, crea la primera" />
    }

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button id="open-modal">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-modal #modal trigger="open-modal" (ionModalDidDismiss)="onModalDismiss($event)">
        <ng-template>
            <app-todo-creation-form class="ion-page" />
        </ng-template>
    </ion-modal>
</ion-content>
