<ion-header>
    <ion-toolbar>
        <ion-title>Nueva categoría</ion-title>
        <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="dismiss()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form id="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <ion-input
            formControlName="name"
            label="Nombre de la categoría"
            labelPlacement="floating"
            fill="outline"
            errorText="El nombre es obligatorio"
            class="ion-margin-bottom"
        />
    </form>
</ion-content>
<ion-footer class="ion-padding">
    @if (isEditing) {
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-button
                        type="button"
                        expand="block"
                        fill="outline"
                        color="danger"
                        (click)="onDeleteClicked()"
                    >
                        <ion-icon name="trash" />
                    </ion-button>
                </ion-col>
                <ion-col size="10"
                    ><ion-button
                        type="submit"
                        form="categoryForm"
                        expand="block"
                        [disabled]="categoryForm.invalid"
                        >Actualizar categoría</ion-button
                    ></ion-col
                >
            </ion-row>
        </ion-grid>
    } @else {
        <ion-button
            type="submit"
            form="categoryForm"
            expand="block"
            [disabled]="categoryForm.invalid"
            >Crear categoría</ion-button
        >
    }
</ion-footer>
