<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center">{{
            isEditing ? "Editar categoría" : "Nueva categoría"
        }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form id="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <ion-input
            formControlName="name"
            label="Nombre de la categoría"
            labelPlacement="floating"
            fill="outline"
            errorText="El nombre es obligatorio"
            class="ion-margin-bottom"
        />

        @if (isEditing) {
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-button
                            type="button"
                            expand="block"
                            fill="clear"
                            color="danger"
                            (click)="onDeleteClicked()"
                        >
                            <ion-icon slot="icon-only" name="trash" />
                        </ion-button>
                    </ion-col>
                    <ion-col size="10"
                        ><ion-button
                            type="submit"
                            form="categoryForm"
                            expand="block"
                            [disabled]="categoryForm.invalid"
                            >Actualizar categoría</ion-button
                        ></ion-col
                    > </ion-row
                >1
            </ion-grid>
        } @else {
            <ion-button
                type="submit"
                form="categoryForm"
                expand="block"
                [disabled]="categoryForm.invalid"
                >Crear categoría</ion-button
            >
        }
    </form>
</ion-content>
