<ion-header>
    <ion-toolbar>
        <ion-title>Mis Tareas</ion-title>
        @if (showFilterButton) {
            <ion-buttons slot="end">
                <ion-button id="category-filter">
                    <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-popover trigger="category-filter" (didDismiss)="applyFilter($event.detail.data)">
                <ng-template>
                    <app-category-filter-popover />
                </ng-template>
            </ion-popover>
        }
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
    @if (categoryFilterSelected() && categoryFilterSelected()!.id) {
        <ion-item color="light" lines="full" class="ion-margin-vertical ion-padding-horizontal">
            <ion-label class="ion-text-wrap">
                <small
                    >Filtro seleccionado:
                    <strong>{{ categoryFilterSelected()!.name }}</strong></small
                >
            </ion-label>
            <ion-button
                fill="clear"
                size="small"
                color="medium"
                (click)="this.applyFilter('')"
            >
                Borrar filtro
            </ion-button>
        </ion-item>
    }

    @if (tasks().length > 0 && filteredTasks().length > 0) {
        <app-tasks-list
            [tasks]="filteredTasks()"
            [reorderDisabled]="!!categoryFilterSelected()"
            (taskClick)="openModal($event)"
            (toggleComplete)="onToggleComplete($event.task, $event.isCompleted)"
            (reorder)="onReorder($event)"
        />
    } @else if (tasks().length > 0 && filteredTasks().length === 0) {
        <app-data-state
            icon="alert-circle-outline"
            title="No hay tareas con este filtro, elimine el filtro o cree una tarea para este filtro"
        />
    } @else {
        <app-data-state
            icon="alert-circle-outline"
            title="Aún no hay tareas creadas, crea la primera"
        />
    }

    <ion-fab id="task-fab" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="openModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
